.main-header {
    min-height: 10vh;
}

.main-header .container {
    border-bottom: 8px solid #335cc3;    
}

.main-header .main-nav {
    padding: 2rem 0;
}

.main-header .main-nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header .main-nav .main-nav-logo {
    font-size: 1.5rem;
    font-weight: 700;
}

.main-header .main-nav .main-nav-items {
    display: flex;
    list-style: none;
}

.main-header .main-nav .main-nav-item {
    margin-left: 1rem;
}

a {
    text-decoration: none;
}

