@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

:root {
  --own-savings-color: #259839; 
  --general-pension-color: #243987; 
  --service-pension-color: #C45933;
  --pyramid-base: 600px;
  --pyramid-height: 360px;
}

.cursor-pointer {
  cursor: pointer;
}

.modal p,
.modal li {
  font-size: 16px;
}

/* Pyramid  */
.header-pyramid-wrapper {
  font-size: 12px;
}

.header-pyramid-col-own-savings,
.own-savings-fig {
  width: 0;
	height: 0;
	border-left: calc(var(--pyramid-base) / 6) solid transparent;
	border-right: calc(var(--pyramid-base) / 6) solid transparent;
	border-bottom: calc(var(--pyramid-height) / 3) solid var(--own-savings-color);
}

.header-pyramid-col-general-pension,
.general-pension-fig {
  width: calc(calc(var(--pyramid-base) / 3) * 2);
  height: calc(var(--pyramid-height) / 3);
  background-color: var(--general-pension-color);
  clip-path: polygon(24% 0%, 76% 0%, 100% 100%, 0% 100%);
}

.header-pyramid-col-service-pension,
.service-pension-fig {
  width: var(--pyramid-base);
  height: calc(var(--pyramid-height) / 3);
  background-color: var(--service-pension-color);
  clip-path: polygon(16% 0%, 84% 0%, 100% 100%, 0% 100%);
}

.service-pension-fig-extended {
  width: 25%;
  height: calc(var(--pyramid-height) / 3);
  right: -25%;
  background-color: #F49F46;
  transform: skewX(38.5deg);
  border-left: 25px solid white;
  transition: right 500ms ease-in-out;
}

.service-pension-fig-extended.show {
  right: 0;
}

@media (max-width: 767px) {
  .header-pyramid-col-own-savings,
  .header-pyramid-col-general-pension,
  .header-pyramid-col-service-pension {
    --pyramid-base: 300px;
    --pyramid-height: 200px;
    font-size: 10px;
    line-height: 1.125;
  }
}

@media (max-width: 991px) {
  .own-savings-fig,
  .general-pension-fig,
  .service-pension-fig {
    --pyramid-base: 300px;
    --pyramid-height: 200px;
    font-size: 10px;
    line-height: 1.125;
  }

  .service-pension-fig-extended {
    border-left-width: 12.5px;
  }
}

